.appointment-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    background-size: cover;
    z-index: 100;
}

.appointment-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;

    border: 2px solid black;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    width: max-content;
    height: max-content;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 101;
    box-sizing: border-box;
}

.appointment-buttons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.appointment-confirm-button {
    border-color: rgb(19, 103, 99);
}

.appointment-confirm-button:hover {
    background-color: rgb(19, 103, 99);
    color: white;
}

.appointment-cancel-button {
    border-color: darkred;
}

.appointment-cancel-button:hover {
    background-color: darkred;
    color: white;
}
