.horario-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.horario-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color10);
    z-index: -1;
}

.horario-data {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.horario-info, .horario-calendar, .horario-dates {
    display: flex;
    flex-direction: column;
    height: 75vh;
    flex-direction: column;
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}

.horario-info, .horario-dates {
    background-color: #ebf5ff;
}

.horario-calendar {
    background-color: #d4e5ff;
}

.horario-chips {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* .container {
    font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: min-content;
}

.table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table th, .table td, .table tr {
    border: 1px solid var(--color1);
    text-align: center;
    padding: 8px;
    user-select: none;
}

.table th {
    background-color: var(--color3);
    color: var(--color11);
}

.hora {
    background-color: var(--color10);
    color: black;
    font-weight: bold;
}

.free {
    background-color: var(--color9);
    cursor: pointer;
}

.booked {
    background-color: var(--color4);
    color: var(--color11);
    cursor: pointer
}

.blocked {
    background-color: var(--color2);
    color: var(--color11);
    cursor: pointer;
}

.blocked-user {
    background-color: var(--color2);
    color: var(--color11);
    cursor: not-allowed;
} */