.horario-button-container {
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 0 20px;
}

.horario-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.horario-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color10);
    z-index: -1;
}

.horario-data {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

@media (max-width: 1200px) {
    .horario-data {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px;
    }
}

.horario-info, .horario-calendar, .horario-dates {
    display: flex;
    flex-direction: column;
    height: 75vh;
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}

.horario-info, .horario-dates {
    background-color: #ebf5ff;
}

.horario-calendar {
    background-color: #d4e5ff;
}

.horario-chips {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}