.schedule-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.schedule-form-max-width-button {
    width: 100%;
}

.schedule-form-time-settings {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.schedule-form-time-settings select {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.schedule-form-button-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.schedule-form-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.schedule-form-buttons button {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    border: 2px solid #ccc;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-weight: 600;
    font-size: 1rem;
}

.schedule-form-selected-day {
    background-color: var(--color7b) !important;
    border-color: var(--color3) !important;
}

.schedule-form-input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.schedule-form-button-end-group {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 20px;
}