@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color1: #03045e;
    --color2: #023e8a;
    --color3: #0077b6;
    --color4: #0096c7;
    --color5: #00b4d8;
    --color6: #48cae4;
    --color7: #90e0ef;
    --color7b: #BED7FA;
    --color8: #ade8f4;
    --color9: #caf0f8;
    --color10: #cccccc;
    --color11: #ffffff;
}

.common-btn {
    background-color: transparent;
    border: 2px solid var(--color1);
    color: var(--color1);
    padding: 10px 20px;
    border-radius: 1000px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.common-btn:hover {
    background-color: var(--color2);
    color: white;
}