:root {
    --color1: #03045e;
    --color2: #023e8a;
    --color3: #0077b6;
    --color4: #0096c7;
    --color5: #00b4d8;
    --color6: #48cae4;
    --color7: #90e0ef;
    --color8: #ade8f4;
    --color9: #caf0f8;
    --color10: #cccccc;
    --color11: #ffffff;
}